<% layout("/layout/every.ejs") %>

<head>
  <title>Faculty Login</title>
  <link rel="stylesheet" type="text/css" href="https://ofa.iiti.ac.in/facrec_che_2023_july_02/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="https://ofa.iiti.ac.in/facrec_che_2023_july_02/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="https://ofa.iiti.ac.in/facrec_che_2023_july_02/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="https://ofa.iiti.ac.in/facrec_che_2023_july_02/css/bootstrap-datepicker.css">
  <script type="text/javascript" src="https://ofa.iiti.ac.in/facrec_che_2023_july_02/js/jquery.js"></script>
  <script type="text/javascript" src="https://ofa.iiti.ac.in/facrec_che_2023_july_02/js/bootstrap.js"></script>
  <script type="text/javascript" src="https://ofa.iiti.ac.in/facrec_che_2023_july_02/js/bootstrap-datepicker.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Sintony" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">



</head>
<style type="text/css">
  body {
      background-color: rgb(238, 222, 150);
      padding-top: 0px !important;
  }
</style>

<body>
  <div class="container-fluid" style="background-color: #f9fff9; margin-bottom: 10px;">
      <div class="container">
          <div class="row" style="margin-bottom:10px; ">
              <div class="col-md-8 col-md-offset-2">



                  <h3 style="text-align:center;color:rgb(65, 2, 2)!important;font-weight: bold;font-size: 2.3em; margin-top: 3px; font-family: 'Times New Roman', Times, serif;"><u>भारतीय प्रौद्योगिकी संस्थान पटना</u></h3>
                  <h3 style="text-align:center;color: #410202fe!important;font-weight: bold;font-family: 'Times New Roman', Times, serif!important;font-size: 2.2em; margin-top: 0px;"><u>Indian Institute of Technology Patna</u></h3>


              </div>



          </div>
           <h3 style="text-align:center; color: #414002;margin-left: 8px;font-weight: bold;  font-family: 'Fjalla One', sans-serif!important; font-size: 2em;"><marquee><span style="background-color: #11ff00">Application For Academic Appointment.</span></marquee></h3>
      </div>
  </div>
  <h3 style="color: #ff4d00; margin-bottom: 70px; font-weight: bold; text-align: center;font-family: 'Noto Serif', serif;" class="blink_me">Application for Faculty Position</h3>

  <link rel="stylesheet" type="text/css" href="https://ofa.iiti.ac.in/facrec_che_2023_july_02/css/pages.css">



  <a href='/Login1/ofa.iiti.ac.in/facrec_che_2023_july_02/facultypanel.html'></a>

  <div class="container" style="border-radius:10px; height:300px; margin-top:20px;">
      <div class="col-md-10 col-md-offset-1">

          <div class="row" style="border-width: 0px; border-style: solid; border-radius: 20px; box-shadow: 5px 5px 0px 0px #337a28; background-color:#f7f8ff;">


              <div class="col-md-6" style=" height:350px; border-radius: 10px 0px 0px 10px;"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/52/Indian_Institute_of_Technology%2C_Patna.svg/1200px-Indian_Institute_of_Technology%2C_Patna.svg.png" style="margin-top: 5%; margin-left: 20%; height: 90%">

                  <p style="text-align: center;">
                  </p>
              </div>

              <div class="col-md-6" style="border-radius: 0px 10px 10px 0px; height: 403px;">
                  <br />
                  <div class="col-md-10 col-md-offset-1">
                      <h1 style="text-align: center;"><strong><u>LOGIN HERE</u></strong></h1><br/>

                      <form role="form" method="post">
                          <input type="hidden" name="ci_csrf_token" value="" />

                          <div class="inner-addon left-addon">
                              <i class="glyphicon glyphicon-envelope"></i>
                              <input type="text" name="email" placeholder="Enter Your email" autofocus="" required/>
                          </div>
                          <br />

                          <div class="inner-addon left-addon">
                              <i class="glyphicon glyphicon-lock"></i>
                              <input type="password" placeholder="Please Enter your password" name="password" required>
                          </div>
                          <br />

                          <div class="row">
                              <div class="col-md-3">
                                  <button type="submit" name="submit" value="Submit">Login</button>

                              </div>
                              <div class="col-md-9">
                                  <a href="http://localhost:8000/reset"><button type="button" class="cancelbtn pull-right">Reset Password</button></a>
                              </div>
                          </div>

                      </form>
                      <br />
                      <p style="text-align: center; color: rgb(91, 159, 155); font-size: 1.0em;"><strong>Not Registered?</strong> <a href='http://localhost:8000/signup' class="btn-sm btn-primary"> SIGN UP</a>

                      </p>

                  </div>


              </div>
          </div>
      </div>

  </div>






  <div id="footer"></div>
</body>

</html>

<script type="text/javascript">
  function blinker() {
      $('.blink_me').fadeOut(500);
      $('.blink_me').fadeIn(500);
  }

  setInterval(blinker, 1000);
</script>
